.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    font-size: 16px;
    margin: 0;
    line-height: 1;
    padding: 11px 10px 8px;
    font-weight: 600;
    letter-spacing: 1px;
}
.cart-total-wrap-crtl .variation,
.woocommerce-checkout-review-order-table .variation{
	display: block!important;
}
.variation-Question{
	display: flex;
	align-items: center;
}
.variation dt,
.variation dd,
.variation dd p{
	line-height: 1.2;
}
.cart-total-wrap-crtl .variation dd p,
.woocommerce-checkout-review-order-table .variation dd p{
	font-weight: 500;
}
@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {

}


@media(max-width: 1399px){


}

@media(max-width: 1299px){

}

@media(max-width: 1199px){



}

@media(max-width: 991px){
	
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){
	
}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}