.cnt-page-des{
	border: none!important;
}
.cnt-page-des h2{
	margin-bottom: 25px;
}
.cnt-page-des p{
	line-height: 1;
	padding-bottom: 5px;
}
.input-field-col{
	padding-bottom: 30px;
}
.input-field-col input[type="text"],
.input-field-col input[type="email"],
.input-field-col textarea{
	border: 1px solid #C6C6C6;
	width: 100%;
	height: 50px;
	color: #545050;
	font-weight: 300;
    font-family: 'Hind', sans-serif;	
	font-size: 18px;
	background-color: #F9F9F9;
	padding: 0 9px;
}
.input-field-col textarea{
	height: 200px;
	padding-top: 15px;
	display: block;
}
.input-field-col input[type="text"]::placeholder,
.input-field-col input[type="email"]::placeholder,
.input-field-col textarea::placeholder{
	color: #828282;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	opacity: 1;
}
.input-field-col input[type="text"]::-webkit-input-placeholder,
.input-field-col input[type="email"]::-webkit-input-placeholder,
.input-field-col textarea::-webkit-input-placeholder{
	color: #828282;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	opacity: 1;
}
.input-field-col input[type="text"]::-moz-placeholder,
.input-field-col input[type="email"]::-moz-placeholder,
.input-field-col textarea::-moz-placeholder{
	color: #828282;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	opacity: 1;
}
.input-field-col input[type="text"]:-ms-input-placeholder,
.input-field-col input[type="email"]:-ms-input-placeholder,
.input-field-col textarea:-ms-input-placeholder{
	color: #828282;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	opacity: 1;
}
.input-field-col input[type="text"]:-moz-placeholder,
.input-field-col input[type="email"]:-moz-placeholder,
.input-field-col textarea:-moz-placeholder{
	color: #828282;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	opacity: 1;
}
.cnt-form-btn{
	width: 200px;
	text-transform: uppercase;
	cursor: pointer;
}
.quick-cnt-links{
	background: #175783;
}
.qck-lnk-cntrl{
	padding-top: 93px;
	padding-bottom: 106px;
}
.qck-lnk-cntrl ul{
	display: flex;
	flex-wrap: wrap;
	margin: -10px -10px;
}
.qck-lnk-cntrl ul li{
	max-width: 33.3333%;
	width: 100%;
	padding: 10px 10px;
}
.qck-lnk-item{
	display: flex;
}
 .qck-lnk-item-des{
	background-image: url('../images/cu-qck-lnk-bg.png');
	background-color: #fff;
	background-position: right bottom!important;
	padding: 24px 10px 20px 20px;
	width: 100%;
}
.qck-lnk-img {
    position: relative;
    border: 2px solid #fff;
    padding-right: 116px;
    margin-right: -1px;
}
.qck-lnk-img:after{
	position: absolute;
	content: "";
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	border-right: 10px solid #fff;
	right: 0;
	top: 22%;
	transform: translateY(-50%);
}
.qck-lnk-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}
.qck-lnk-title{
	font-size: 24px;
	font-family: 'LeagueSpartan-Semibold';
	text-transform: uppercase;
	margin-bottom: 16px;
}
.qck-lnk-item-des address, 
.qck-lnk-item-des a{
	font-size: 20px;
	line-height: 1;
	color: #545050;
	margin-bottom: 0;
}
.qck-lnk-item-des address a{
	line-height: 1.4;
	text-transform: capitalize;
}
.qck-lnk-item-des a{
	display: block;
	padding-bottom: 10px;
}
.qck-lnk-item-des a:hover{
	color: #175783;
}
.qck-lnk-item-des a:last-child{
	padding-bottom: 0;
}
.cnt-page-des > span{
	margin-left: -1px;
}

/* ================= */
/* == responsive == */
/* =============== */

@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.qck-lnk-title{
		font-size: 22px!important;	
	}
	.qck-lnk-img{
		padding-right: 100px;
	}
	.qck-lnk-img img{
		left: 25px;
		width:50px;
		height: 55px; 
	}
	.qck-lnk-item-des{
		padding: 24px 45px 20px 10px;
	}
	.qck-lnk-item-des address, 
	.qck-lnk-item-des a{
		font-size: 19px;
	}
}


@media(max-width: 1399px){
	.qck-lnk-img{
		padding-right: 85px;
	}
	.qck-lnk-img img{
		left: 20px;
		width:45px;
		height: 50px; 
	}
	.qck-lnk-img:after{
		top: 19%;
	}
	.qck-lnk-title{
		font-size: 21px!important;	
	}
	.qck-lnk-item-des{
		padding: 20px 48px 20px 10px;
	}
	.qck-lnk-item-des address a{
		line-height: 1.4;
	}
	.qck-lnk-item-des address, 
	.qck-lnk-item-des a{
		font-size: 18px;
	}

}

@media(max-width: 1299px){
	
}

@media(max-width: 1199px){
	.qck-lnk-cntrl ul li{
		max-width: 50%;
	}
	.qck-lnk-cntrl ul li {
    	margin: auto;
	}
	.qck-lnk-title{
		font-size: 20px!important;	
	}
	.qck-lnk-item-des address a{
		line-height: 1.4;
	}
	.qck-lnk-item-des address, .qck-lnk-item-des a{
		font-size: 18px;
	}
}

@media(max-width: 991px){
	.input-field-col{
		padding-bottom: 25px;
	}
	.input-field-col input[type="text"],
	.input-field-col input[type="email"],
	.input-field-col textarea{
		font-size: 17px;
	}

}
@media(max-width: 785px){
	.qck-lnk-item-des address a{
		line-height: 1.1;
	}
}

@media(max-width: 767px){
	
	.cnt-page-des{
		border: 1px solid #7C7C7C!important;
		padding: 40px 15px!important;
	}
	.input-field-col{
		padding-bottom: 20px;
	}
	.input-field-col input[type="text"],
	.input-field-col input[type="email"],
	.input-field-col textarea{
		font-size: 16px;
	}
	.input-field-col textarea{
		height: 150px;
	}
	.cnt-form-btn{
		margin: auto;
	}
	.cnt-page-des{
		position: relative;
	}
	.cnt-page-des > span{
		position: absolute!important;
		content: "";
		top: 0!important;
		margin-top: -12px!important;
		transform: translateX(-50%)!important;
		width: 68px!important;
	}
	.angle-desk{
		display: none!important;
	}
	.angle-mobile{
		display: block!important;
	}
	.qck-lnk-cntrl ul li{
		max-width: 100%;
	}
	.qck-lnk-item{
		max-width: 425px;
		width: 100%;
		margin: 0 auto;
	}
	.qck-lnk-title{
		font-size: 19px!important;	
	}
	.qck-lnk-item-des address, .qck-lnk-item-des a{
		font-size: 16px;
	}

}
@media(max-width: 639px){
	.qck-lnk-img{
		padding-right: 90px;
    	height: 100px;
	}
	.qck-lnk-img img{
		left: 25px;
    	width: 45px;
    	height: 45px;
	}
	.qck-lnk-title{
		font-size: 18px!important;	
	}
}

@media(max-width: 575px){
	.cnt-page-des h2{
		font-size: 20px!important;
	}
	.cnt-form-btn{
		width: 100%!important;
	}
	.input-field-col{
		padding-bottom: 15px;
	}
	.input-field-col input[type="text"],
	.input-field-col input[type="email"],
	.input-field-col textarea{
		font-size: 15px;
	}
	.input-field-col textarea{
		height: 120px;
	}
	.qck-lnk-img{
		padding-right: 80px;
		height: 80px;
	}
	.qck-lnk-img img{
		left: 20px;
    	width: 40px;
    	height: 40px;
	}
	.qck-lnk-item-des address a{
		line-height: 1.2;
	}
	
}

@media(max-width: 479px){
	.input-field-col input[type="text"],
	.input-field-col input[type="email"],
	.input-field-col textarea{
		font-size: 14px;
	}
	.qck-lnk-img{
		padding-right: 65px;
		height: 65px;
	}
	.qck-lnk-img img{
		left: 16px;
    	width: 28px;
    	height: 28px;
	}
	.qck-lnk-item-des address a{
		line-height: 1.2;
	}

}

@media(max-width: 359px){

}