.current-competition-entry-sec-ctlr .hh-accordion-tab-row:first-child .hh-accordion-des{
	display:block;
}
/*.current-competition-entry-sec-ctlr .hh-accordion-tab-row:first-child .icon-rotate i{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}*/
.current-competition-entry-sec-ctlr .hh-accordion-tab-row{
	padding-bottom:0px;
}
.current-competition-entry-sec-ctlr .hh-accordion-title{
	padding-left:0px;
	margin-bottom:0px!important;
}
.current-competition-entry-sec-ctlr .fl-angle-sec-hdr > span{
	background:#35AA5F;
	display:flex;
	width:80px;
	justify-content: center;
	align-items: center;
	margin-left:-1px;
	position:relative;
}
.current-competition-entry-sec-ctlr .fl-angle-sec-hdr > span i{
 color:#fff;
 margin-left:13px;
}
.current-competition-entry-sec-ctlr .fl-angle-sec-hdr{
	display: flex;
}
.current-competition-entry-sec-ctlr .fl-angle-sec-hdr > span:after{
	content: "";
    position: absolute;
    left: 100%;
    top: -1px;
    bottom: -1px;
    width: 18px;
    z-index: 2;
    background: url(../images/page-title-angle-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -3px;
    margin-top: 0px;
}
.hh-accordion-active .icon-rotate i{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
.current-competition-entry-sec-ctlr .hh-accordion-des{
	background:#175884;
	padding-top:78px;
	padding-bottom:80px;
}
.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr{
	background:#fff;
	padding-left:30px;
	padding-top:80px;
	padding-right:75px;
	padding-bottom:63px;
	position:relative;
}
.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr p{
	font-size:18px;
	line-height:1.5;
	margin-bottom:24px;
}

.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr h5{
	color:#231F20;
	font-size:24px;
}
.current-competition-entry-sec-ctlr .hh-accordion-des ul li{

}
.hh-accordion-des-cntlr ul li{
	font-size:18px;
	line-height:1.5;
	margin-bottom:10px;
	position: relative;
	padding-left:15px;
}
.hh-accordion-des-cntlr ul li:after{
	content: "";
	position: absolute;
	height:6px;
	width: 6px;
	border-radius:50%;
	background:#231F20;
	left:0;
	top:9px;
}
.hh-accordion-des-cntlr ul{
	margin-bottom:30px;
}
.hh-accordion-des-cntlr span.acordion-arrow{
	position: absolute;
	top:0;
	left:70px;
	margin-top:-3px;
}
/* pro single*/

.summary.entry-summary.custom-summary{
	background: #fff;
	padding-top: 40px;
}

.summary.entry-summary.custom-summary .cart.pick-number{
	padding-top: 50px;
	padding-bottom: 40px;
	background: #F7F4F2;
	margin-bottom: 0;
	position: relative;
	border-top: 1px solid #c1c0be;
}
.summary.entry-summary.custom-summary .cart.pick-number:before{
	content: "";
	position: absolute;
	left: 26px;
	top: 0;
	background: url(../images/pink-angle.jpg);
	background-repeat: no-repeat;
	width: 38px;
	height: 14px;
	background-size: 100% auto;
	margin-top: -1px;
}
.summary.entry-summary.custom-summary .cart.pick-number,
.summary.entry-summary.custom-summary{
	padding-left: 38px;
	padding-right: 38px;
}
.summary.entry-summary.custom-summary .cart.pick-number{
	margin-left: -38px;
	margin-right: -38px;
}
.lottery-question,
.fl-product-summary-txt h4{
	font-size: 22px;
	line-height: 1.2;
	margin-bottom: 12px;
    font-family: 'LeagueSpartan-Medium';
    color: #231F20;
    text-transform: uppercase;
}
.summary.entry-summary.custom-summary ul.lottery-pn-answers{
	display: flex;
}
.summary.entry-summary.custom-summary ul.lottery-pn-answers li {
    font-size: 16px;
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 1;
    min-width: 40px;
}
.summary.entry-summary.custom-summary .fl-product-summary-txt ul{
	display: block!important;
	padding-left: 15px;
}
.summary.entry-summary.custom-summary .fl-product-summary-txt ul li{
	width: 100%!important;
}
.woocommerce div.product .product_title{
	color: #1C75BC;
	font-size: 44px;
	line-height: 1.2
	margin-bottom: 24px;
	font-family: 'LeagueSpartan-Bold';
}
.woocommerce div.product div.summary > p{
	margin-bottom: 13px;
	font-size: 22px;
	line-height: 1.2;
	font-weight: normal;
	font-family: 'LeagueSpartan-Medium';
	text-transform: uppercase;
}
.woocommerce div.product div.summary > p strong{
	font-weight: normal;
	font-family: 'LeagueSpartan-Bold';
}
.competition-ends-title{
	display: block;
	color: #3A3A3A;
	font-weight: 600;
	margin-bottom: 30px;
}
.main-lottery.lottery-time-countdown{
	display: flex;
	margin-bottom: 50px;
}
.wc_lotery_countdown-section{
	font-size: 42px;
	line-height: 1;
	display: block;
}
.fl-pro-summary-prices > div{
	display: flex;
	align-items: center;
}
.fl-pro-summary-prices del{
	margin-bottom: auto;
}
.fl-pro-summary-prices div label{
	font-size: 28px;
	color: #231F20;
 	font-family: 'LeagueSpartan-Semibold';
 	text-transform: uppercase;
 	margin-bottom: 0;
 	margin-right: 10px;
}
.fl-pro-summary-prices del{
	order: 3;
}
.fl-pro-summary-prices ins .woocommerce-Price-amount.amount bdi{
	font-size: 44px;
	color: #1C75BC;
	font-family: 'LeagueSpartan-Bold';
	margin-right: 5px;
}
.fl-pro-summary-prices del .woocommerce-Price-amount.amount span{
	position: relative;
	margin-bottom: auto;
}
.summary.entry-summary.custom-summary .fl-product-summary-txt ul{
	padding-left: 15px;
	margin-left: 0;
	margin-right: 0;
}
.summary.entry-summary.custom-summary .fl-product-summary-txt ul li{
	font-size: 16px;
	padding-left: 15px;
	padding-bottom: 14px;
}
.summary.entry-summary.custom-summary .fl-product-summary-txt ul li:before{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	background: url(../images/list-icon-gradient.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.pro-single-btm{
	display: flex;
	justify-content: flex-end;
}
.pro-single-btm .single_add_to_cart_button.button.alt.lottery-must-answer{
	float: none!important;
	height: 56px;
	font-size: 18px;
	line-height: 1;
	padding: 10px;
	max-width: 180px;
	width: 100%;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: 'LeagueSpartan-Semibold';
}
.pro-single-btm > .quantity{
	margin-left: auto!important;
	border: 1px solid #7C7C7C;
	display: flex;
	align-items: center;
	max-width: 120px;
	width: 100%;
	background: #fff;

}
.wcl-progress-meter progress{
	height: 40px!important;
	background: #D0D3D6!important;
}
.fl-product-summary-txt{
	padding-top: 45px;
}
.ticket-count-crtl{
	display: flex;
	align-items: center;
}
.ticket-count-crtl span{
	position: static!important;
	color: #175884;
	margin-left: 5px;

}
.ticket-count-crtl > div{
	width: 50%;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'LeagueSpartan-Semibold';
}
.ticket-count-crtl .total-tickets{
	
}
.ticket-count-crtl .total-remaining{
	justify-content: flex-end;
}
@media(max-width:1199px){
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr p{
		font-size:17px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des ul li{
		font-size:17px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr h5{
		font-size:22px;
	}
}

@media(max-width:991px){
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr{
		padding-top:70px;
		padding-bottom:53px;
		padding-right: 40px;
	}
}

@media(max-width:767px){
	.hh-accordion-des-cntlr span.acordion-arrow {
	    left: 15px;
	    margin-top: -9px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr {
	    padding-top: 50px;
	    padding-bottom: 40px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr p{
		font-size:15px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des ul li{
		font-size:15px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr h5{
		font-size:20px;
	}
	.hh-accordion-des-cntlr ul li:after{
		top:8px;
		width:5px;
		height:5px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-title{
		padding-bottom:0!important;
	}
}

@media(max-width:575px){
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr p{
		font-size:14px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des ul li{
		font-size:14px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr h5{
		font-size:19px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr{
		padding-right:30px;
	}
}

@media(max-width:479px){
	.hh-accordion-des-cntlr ul li{
		padding-left: 9px;
	}
	.hh-accordion-des-cntlr ul li:after{
		width:4px;
		height: 4px;
	}
}

@media(max-width:359px){
	.hh-accordion-des-cntlr span.acordion-arrow {
	    left: 0px;
	    margin-top: -12px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des-cntlr {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.current-competition-entry-sec-ctlr .hh-accordion-des ul li{
		margin-bottom:0px;
	}
}


