/**
All Transitions
*/
a,input,img,textarea,button,svg,i,.dft-transition,
.pro-fea-img-cntlr .inline-bg,
.hh-accordion-title span:after{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.banner-bg{
	transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
}
.scale,
.product-grd-item:hover .pro-fea-img-cntlr .inline-bg{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	
}
.input-field-col input[type="text"]:focus,
.input-field-col input[type="email"]:focus,
.input-field-col textarea:focus{
	border: 1px solid #9d9d9d;
}
