.products-grd-page-con{
	background: #175884;
	padding-top: 80px;
	padding-bottom: 120px;
}
.product-grds-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.product-grds-cntlr ul li{
	width: 33.3333%;
	padding: 0 10px 20px;
}
.product-grd-item-des{
	background: #fff;
}
.pro-fea-img-cntlr{
	height: 345px;
	position: relative;
	overflow: hidden;
}

.pro-fea-img-cntlr .inline-bg{
	width: 100%;
	height: 100%;
}

.pro-absolute-text{
	position: absolute;
	right: 0;
	top: 25px;
	padding: 10px 13px 10px 18px;
	background: #175884;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	font-family: 'LeagueSpartan-Semibold';
	z-index: 11;
}
.pro-absolute-text:before{
	content: "";
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	width: 7px;
	background: url(../images/pro-absolute-text-angle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pgid-title{
	margin-bottom: 15px;
	text-transform: uppercase;
}

.product-grd-item-des{
	padding: 30px 20px 20px 20px;
}

.pro-grd-price{
	color: #35AA5F;
	font-size: 32px;
	line-height: 1;
	font-family: 'LeagueSpartan-Extrabold';
}
.pro-grd-price .price del {
    font-size: 17.11px;
    line-height: 1;
    color: #AAAAAA;
    display: inline-block;
    vertical-align: top;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    position: relative;
    top: 8px;
    margin-left: 1px;
}
.pro-grd-ftr-bar{
	background: #f8f4f1;
	border-top: 1px solid #9c9c9c;
	padding: 12px 20px;
	display: flex;
	position: relative;
}
.pro-grd-ftr-bar:before{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 60px;
	height: 2px;
	background: #c6c6c6;
	top:-1px;
}
.pro-grd-time{
	margin-left: auto;
}

.pro-grd-date,
.pro-grd-time{
	display: flex;
	align-items: center;
}
.pro-grd-ftr-bar span{
	margin-left: 5px;
	font-size: 12px;
	line-height: 1;
	font-weight: 300;
	display: inline-block;
}
.latest-compitions-page-con-cntlr{
	padding-bottom: 120px;
}

.latest-compitions-page-con-cntlr .pro-absolute-text:before{
	content: none;
}

.latest-compitions-page-con-cntlr .pro-absolute-text{
	background: url(../images/pro-absolute-text-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	right: -2px;
	color: #7F531D;
}

.latest-compitions-page-con-cntlr .products-grd-page-con{
	padding-top: 0;
	background: transparent;
}

.latest-compitions-page-con-cntlr .fl-angle-hdr-cntlr{
	margin-bottom: 70px;
}

.latest-compitions-page-con-cntlr .products-grd-page-con{
	padding-bottom: 75px;
}

.recently-ended-view-more-btn{
	padding-top: 40px;
}

.recently-ended-view-more-btn a{
	margin-left: auto;
	margin-right: auto;
}

.products-grd-page-pagi{
	padding-top: 60px;
}



@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.pro-grd-price{
		font-size: 30px;
	}
}


@media(max-width: 1399px){


}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.pro-fea-img-cntlr{
		height: 255px;
	}
	.pro-grd-price {
	    font-size: 25px;
	}
	.pgid-title{
		margin-bottom: 12px;
	}
	.product-grds-cntlr ul{
		margin-left: -8px;
		margin-right: -8px;
	}
	.product-grds-cntlr ul li{
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 16px;
	}
	.products-grd-page-con {
	    padding-top: 65px;
	    padding-bottom: 100px;
	}
	.products-grd-page-pagi {
	    padding-top: 50px;
	}
}

@media(max-width: 991px){
	.pro-fea-img-cntlr {
	    height: 236px;
	}
}

@media(max-width: 767px){
	.product-grds-cntlr ul{
		margin-left: -10px;
		margin-right: -10px;
	}
	.product-grds-cntlr ul li{
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
}

@media(max-width: 575px){
	.product-grds-cntlr ul li{
		width: 100%;
	}
	.product-grd-item{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.products-grd-page-con {
	    padding-top: 45px;
	    padding-bottom: 80px;
	}
	.products-grd-page-pagi {
	    padding-top: 45px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}