
.footer-wrp{
	padding-top: 60px;
}
.ftr-cols{
	display: flex;
}
.ftr-col{
	width: 22%;
	padding-top: 25px;
	padding-bottom: 100px;
}

.ftr-col-1{
	width: 32%;
	padding-right: 120px;
	padding-top: 0;
}
.ftr-col .ftr-heading{
	text-transform: uppercase;
	color: #1C75BC;
	margin-bottom: 30px;
	font-family: 'LeagueSpartan-Medium';
}
.ftr-contact-info-row{
	padding-bottom: 30px;
}
.ftr-contact-info-row strong{
	font-size: 20px;
	font-family: 'LeagueSpartan-Medium';
	display: block;
}
.ftr-contact-info-row a{
	font-size: 16px;
	color: #515151;
}


.footer-btm{
	background: #1d75bd;
}

.ftr-btm-con{
	display: flex;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #fff;
	font-size: 14px;
	line-height: 1;
}

.copyright-text p{
	margin-bottom: 0;
}

.copyright-menu{
	margin-left: auto;
}
.copyright-menu ul{
	margin: 0 -14px;
}
.copyright-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 14px;
	position: relative;
	font-size: 14px;
}
.copyright-menu ul li:not(:last-child):after{
	content: "";
	position: absolute;
	height: 13px;
	width: 1px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: #fff;
	left: 100%;

}
.copyright-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
}