

.gallery-sec-bg{
	padding-top: 90px;
	padding-bottom: 75px;
}

.gallery-sec-ctlr ul{
	margin-left: -10px;
	margin-right: -10px;
}
.gallery-sec-ctlr ul li{
	float: left;
	width: 33.3333%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.gallery-sec-ctlr ul li:nth-child(3n+1){
	clear: left;
}
.gallery-grd-item{
	border: 10px solid #fff;
	position: relative;
}
.gallery-grd-item-img{
	min-height: 350px;
}

.gallery-grd-item-des{
	background: #FFFFFF;
	padding: 25px 10px 20px;
}

.gallery-gid-title{
	font-size: 24px;
	color: #545050;
	margin-bottom: 10px;
}
.gallery-gid-title a{
	color: #545050;
}
.gallery-gid-title a:hover{
	color: #1d75bd;
}

.gallery-place,
.galley-date{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 10px;
}
.gallery-place span{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 17px;
	font-size: 16px;
	line-height: 1;
	color: #1C75BC;
	font-weight: 400;
	position: relative;
}
.gallery-place span i{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-top: -3px;
}
.galley-date span{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 19px;
	font-size: 16px;
	line-height: 1;
	color: #1C75BC;
	font-weight: 400;
	position: relative;
}
.galley-date span i{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-top: -3px;
}
.gallery-triangle{
	border-left: 48px solid transparent;
	border-right: 48px solid transparent;
	border-top: 20px solid #fff;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	margin-top: -1px;
	z-index: 12;
}
.gallery-grd-item-icon{
	position: absolute;
	bottom: -10px;
	right: -10px;
}

.gallery-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}
.gallery-grd-item-overlay-img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0;
	background: url('../images/gallery-overlay-img.png');
	opacity: 0;
	z-index: -1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.gallery-grd-item-overlay-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.gallery-grd-item-overlay-btn a{
	height: 46px;
	width: 142px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.gallery-grd-item-img-ctlr:hover .gallery-grd-item-overlay-img{
	height: 100%;
	opacity: 1;
	z-index: 1;
}


@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.gallery-gid-title{
		font-size: 23px;
	}
}


@media(max-width: 1399px){
	.container { max-width: 1100px; }

}

@media(max-width: 1299px){
	.gallery-gid-title{
		font-size: 22px;
	}
	.gallery-grd-item-img {
	    min-height: 300px;
	}
}

@media(max-width: 1199px){
	.gallery-gid-title{
		font-size: 21px;
	}
	.gallery-place span,
	.galley-date span{
		font-size: 15px;
	}


}

@media(max-width: 991px){
	.gallery-gid-title{
		font-size: 20px;
	}
	.gallery-sec-bg{
		padding-top: 70px;
	}
	.gallery-sec-ctlr ul li{
		width: 50%;
	}
	.gallery-sec-ctlr ul li:nth-child(3n+1){
		clear: none;
	}
	.gallery-sec-ctlr ul li:nth-child(2n+1){
		clear: left;
	}
	.gallery-grd-item-overlay-btn a{
		width: 120px;
		height: 36px;
		font-size: 12px;
	}
}

@media(max-width: 767px){
	.gallery-sec-bg{
		padding-top: 50px;
		padding-bottom: 65px;
	}
	.gallery-gid-title{
		font-size: 18px;
	}
	.gallery-place span, 
	.galley-date span {
	    font-size: 14px;
	}
	
}
@media(max-width: 639px){
	.gallery-sec-ctlr ul{
		margin-left: 0;
		margin-right: 0;
	}
	.gallery-sec-ctlr ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
	}
	.gallery-sec-ctlr ul li:nth-child(2n+1){
		clear: none;
	}
	.gallery-grd-item{
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		border: 7px solid #fff;
		overflow: hidden;
	}
	.gallery-grd-item-img {
	    min-height: 250px;
	}
	.gallery-triangle{
		border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-top: 12px solid #fff;
	}
	.gallery-grd-item-des{
		padding: 14px 10px 10px;
		text-align: center;
	}
	.gallery-grd-item-icon{
		right: -30px;
		bottom: -30px;
	}
	.gallery-place span, .galley-date span {
	    font-size: 13px;
	}
	.gallery-grd-item-overlay-btn a{
		width: 90px;
		height: 30px;
		font-size: 8px;
	}
}

@media(max-width: 575px){
	.gallery-gid-title{
		font-size: 17px;
	}
	.gallery-grd-item-img {
	    min-height: 225px;
	}
	.gallery-place span, .galley-date span {
	    font-size: 12px;
	}
}

@media(max-width: 479px){
	.gallery-gid-title{
		font-size: 16px;
	}
	.gallery-place span, .galley-date span {
	    font-size: 11px;
	}

}

@media(max-width: 359px){

}