.header{

}
.top-bar{
	background: #1d75bd;
	padding: 12px 0;
}
.top-bar-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.top-bar-socials{

}
.top-bar-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.top-bar-socials ul li{
	padding: 0 5px;
	line-height: 1;
}
.top-bar-socials ul li a,
.top-bar-socials ul li a i{
	display: inline-block;
}
.top-bar-socials ul li a:hover i svg{
	fill: #019245;
}
.top-bar-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.top-bar-right ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.top-bar-right ul li{
	padding: 0 10px;
	position: relative;
	line-height: 1;
}
.top-bar-right ul li:after{
	content: "";
	background-image: url('../images/hdr-top-line.svg');
	width: 0.8px;
	height: 26px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 0;
}
.top-bar-right ul li:last-child:after{
	background-image: none;
	content: none;
}
.top-bar-rt-col a{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	line-height: 1;
	padding: 0;
	background: transparent;
	position: relative;
	
}
.top-bar-rt-login a{
	padding: 0 0 0 22px;
}
.top-bar-rt-col a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
}



.header{
	background: #fff;
}
.header-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-left{

}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-menu{
	padding-right: 50px;
}

nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -22px;
	padding-top: 52px;
}
nav.main-nav > ul > li{
	line-height: 1;
	padding: 0 22px;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-size: 16px;
	padding-bottom: 52px;
	color: #231F20;
	font-family: 'LeagueSpartan-Medium';
	text-transform: uppercase;
	position: relative;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	top: 100%;
	content: "";
	left: 0;
	right: 0;
	background: #019245;
	height: 3px;
	transform: scale(0,1);
	-ms-transform: scale(0,1);
	-webkit-transform: scale(0,1);
	-o-transform: scale(0,1);
	transition: all 0.7s;
	-ms-transition: all 0.7s;
	-webkit-transition: all 0.7s;
}
nav.main-nav > ul > li > a:hover:after{
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
}
nav.main-nav > ul > li.menu-item-has-children:hover > a,
nav.main-nav > ul > li a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #019245;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 225px;
    padding: 0 10px 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	padding: 6px 0;
	line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #019245;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
    border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: block;
	font-family: 'LeagueSpartan-Medium';
	font-size: 16px;
	line-height: 1;
	color: #4B4B4B;
    padding: 5px 20px;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #019245;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
    height: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	color: #019245;
}

.hdr-add-to-card{
	
}
.hdr-add-to-card-icon{
	position: relative;
	display: inline-block;
	padding-right: 18px;
}
.hdr-add-to-card-icon a{
	display: inline-block;
}
.hdr-add-to-card-icon span{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #1C75BC;
	border-radius: 50% 50%;
	top: 2px;
	right: 0;
	color: #fff;
	font-size: 12px;
	font-family: 'LeagueSpartan-Medium';
}