.header{

}
.top-bar{
	background: #1d75bd;
	padding: 12px 0;
}
.top-bar-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.top-bar-socials{

}
.top-bar-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.top-bar-socials ul li{
	padding: 0 5px;
	line-height: 1;
}
.top-bar-socials ul li a{
    color: #fff;
}
.top-bar-socials ul li a,
.top-bar-socials ul li a i{
	display: inline-block;
}
.top-bar-socials ul li a:hover i svg{
	fill: #019245;
}
.top-bar-socials ul li a:hover,
.top-bar-rt-login a:hover,
.top-bar-rt-col a:hover{
    color: #ebceae;
}
.top-bar-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.top-bar-right ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.top-bar-right ul li{
	padding: 0 10px;
	position: relative;
	line-height: 1;
}
.top-bar-right ul li:after{
	content: "";
	background-image: url('../images/hdr-top-line.svg');
	width: 0.8px;
	height: 26px;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 0;
}
.top-bar-right ul li:last-child:after{
	background-image: none;
	content: none;
}
.top-bar-rt-col a{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	line-height: 1;
	padding: 0;
	background: transparent;
	position: relative;
	
}
.top-bar-rt-login a{
	padding: 0 0 0 22px;
}
.top-bar-rt-col a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
    margin-top: -1px;
}



.header{
	background: #fff;
}
.header-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-left{

}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-menu{
	padding-right: 50px;
}

nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -22px;
	padding-top: 52px;
}
nav.main-nav > ul > li{
	line-height: 1;
	padding: 0 22px;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-size: 16px;
	padding-bottom: 52px;
	color: #231F20;
	font-family: 'LeagueSpartan-Medium';
	text-transform: uppercase;
	position: relative;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	top: 100%;
	content: "";
	left: 0;
	right: 0;
	background: #019245;
	height: 3px;
	transform: scale(0,1);
	-ms-transform: scale(0,1);
	-webkit-transform: scale(0,1);
	-o-transform: scale(0,1);
	transition: all 0.7s;
	-ms-transition: all 0.7s;
	-webkit-transition: all 0.7s;
}
nav.main-nav > ul > li > a:hover:after{
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
}
nav.main-nav > ul > li.menu-item-has-children:hover > a,
nav.main-nav > ul > li a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #019245;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 225px;
    padding: 0 10px 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	padding: 6px 0;
	line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #019245;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
    border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: block;
	font-family: 'LeagueSpartan-Medium';
	font-size: 16px;
	line-height: 1;
	color: #4B4B4B;
    padding: 5px 20px;
    position: relative;
    text-transform: uppercase;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #019245;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
    height: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	color: #019245;
}

.hdr-add-to-card{
	
}
.hdr-add-to-card-icon{
	position: relative;
	display: inline-block;
	padding-right: 18px;
}
.hdr-add-to-card-icon a{
	display: inline-block;
}
.hdr-add-to-card-icon span{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #1C75BC;
	border-radius: 50% 50%;
	top: 2px;
	right: 0;
	color: #fff;
	font-size: 12px;
	font-family: 'LeagueSpartan-Medium';
}

/*humberger -icon*/
.humberger-cntlr{
	padding: 8px;
	border: 1px solid #019245;
	display: none;
	margin-right: 10px;
}
.humberger-icon{
	position: relative;
	height: 12px;
	width: 18px;
}
.humberger-icon span{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	background: #019245;
}
.humberger-icon span:nth-child(2){
	top: 5px;
}
.humberger-icon span:nth-child(3){
	top: 10px;
}

/*mobile menu*/
/*overlay*/
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
body.allWork{
    overflow: hidden!important;
}


/*humberger icon*/
.xs-humberger-cntlr{
    text-align: center;
    display: none;
}
.humberger-icon{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 14px;
    width: 16px;
}
.humberger-icon span{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background: #019245;
    height: 2.5px;
    border-radius: 50px;
}
.humberger-icon span:nth-child(2){
    top: 5px;
}
.humberger-icon span:nth-child(3){
    top: 10px;
}

/*mobile menu*/
.xs-mbl-menu-cntlr{
   position: fixed;
   top: 0;
   right: -320px;
   bottom: 0;
   background: #fff;
   color: #0c0c0c;
   font-size: 20px;
   max-width: 320px;
   width: 0;
   z-index: 99999;
   opacity: 0;
   -ms-transition: all 0.3s;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   padding: 0 25px;
   padding-top: 93px;
   height: 100%;
   width: 100%;

}
.allWork .xs-mbl-menu-cntlr{
    right: 0;
   opacity: 1;
   z-index: 99999;
   width: 100%;
}
.xs-mbl-menu-top-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 25px;
}
.xs-mbl-menu{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.xs-mbl-menu-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
}

.xs-mmt-close-icon{
    margin-left: auto;
}
.xs-mmt-logo{

}
.xs-mmt-logo a{
    display: inline-block;
    max-width: 140px;
}

.close-icon{
    margin-left: auto;
    position: relative;
    height: 12px;
    width: 18px;
}
.close-icon span{
    position: absolute;
    content: "";
    top: 5px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 0;
    right: 0;
    background: #019245;
    height: 2.5px;
    border-radius: 50px;
}
.close-icon span:nth-child(2){
    top: 5px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
/*responsive*/
@media (max-width: 1499px){
	.hdr-menu{
		padding-right: 30px;
	}
	nav.main-nav > ul{
		margin: 0 -15px;
	}
	nav.main-nav > ul > li{
		padding: 0 15px;
	}
}
@media (max-width: 1399px){
	
}
@media (max-width: 1299px){
	
}
@media (max-width: 1199px){
	.hdr-menu{
		padding-right: 16px;
	}
	nav.main-nav > ul{
		margin: 0 -8px;
	}
	nav.main-nav > ul > li{
		padding: 0 8px;
	}
	nav.main-nav > ul > li > a{
		font-size: 15px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 15px;
	}
}
@media (max-width: 991px){
	.header{
		padding: 11px 0;
	}
	.humberger-cntlr{
		display: block;
	}
	.hdr-menu{
		display: none;
	}
	.logo a{
		max-width: 180px;
	}
	.hdr-add-to-card-icon a{
		max-width: 43px;
	}

	/*mobile*/
	nav.main-nav > ul{
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        padding: 40px 0;
    }
    nav.main-nav > ul > li{
        line-height: 1;
        padding: 10px 0;
    }
    nav.main-nav > ul > li > a{
        font-size: 16px;
        padding-bottom: 0;
        text-align: center;
    }
    nav.main-nav > ul > li > a:after{
        content: none;
        display: none;
    }
    nav.main-nav > ul > li > a:hover{
        color: initial;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
        position: initial;
        background: transparent;
        width: 100%;
        padding:  20px 0 0 0;
        transition: initial;
        -ms-transition: initial;
        -webkit-transition: initial;
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        -o-transform: initial;
        transform-origin: initial;
        opacity: 1;
        display: none;
        box-shadow: initial;
        -ms-box-shadow: initial;
        -webkit-box-shadow: initial;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
        border: none;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
        content: none;
        display: none;
    }
    nav.main-nav > ul > li.menu-item-has-children > a{
        padding-right: 15px;
        position: relative;

    }
    nav.main-nav > ul > li.menu-item-has-children > a:before{
        content: "\f107"!important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        text-decoration: inherit;
        color: #231F20;
        font-size: 16px;
        padding-right: 0;
        position: absolute;
        top: 1px;
        right: 0;
        line-height: 15px;
        transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow > a:before{
        color: #019245!important;
        transform: rotate(-180deg)!important;
        -ms-transform: rotate(-180deg)!important;
        -webkit-transform: rotate(-180deg)!important;
        -o-transform: rotate(-180deg)!important;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
    	font-size: 15px;
    }
    .hdr-add-to-card-icon{
    	padding-right: 17px;
    }
    .hdr-add-to-card-icon span{
    	width: 17px;
    	height: 17px;
    	font-size: 10px;
    }
}
@media (max-width: 767px){
	.logo a{
		max-width: 140px;
	}
	.hdr-add-to-card-icon{
		padding-right: 15px;
	}
	.hdr-add-to-card-icon a{
		max-width: 35px;
	}
	.hdr-add-to-card-icon span{
		width: 14px;
		height: 14px;
		font-size: 9px;
	}
}
@media (max-width: 639px){
	
}
@media (max-width: 575px){
	
}
@media (max-width: 479px){
	
}