.header{

}
.header-top{
	background: #1d75bd;
	padding: 5px 0;
}
.header-top-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.header-top-socials{

}
.header-top-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.header-top-socials ul li{
	padding: 0 5px;
	line-height: 1;
}
.header-top-socials ul li a,
.header-top-socials ul li a i{
	display: inline-block;
}
.header-top-socials ul li a:hover i svg{
	fill: orange;
}
.header-top-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-top-rt-login{
	padding: 0 10px 0 22px;
	display: inline-block;
	position: relative;
}
.hdr-top-rt-login i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
}
.hdr-top-rt-login button{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	line-height: 1;
	padding: 0;
	background: transparent;
}
.hdr-top-rt-register{
	padding-left: 10px;
	position: relative;
	display: inline-block;
}
.hdr-top-rt-register i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: -1px;
}
.hdr-top-rt-register button{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
	line-height: 1;
	padding: 0;
	background: transparent;
}


.header-bottom{

}
.header-bottom-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-btm-left{

}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-btm-right{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-menu{
	padding-right: 50px;
}

nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -22px;
	padding-top: 52px;
}
nav.main-nav > ul > li{
	line-height: 1;
	padding: 0 22px;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-size: 16px;
	padding-bottom: 52px;
	color: #231F20;
	font-family: 'LeagueSpartan-Medium';
	text-transform: uppercase;
	position: relative;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	top: 100%;
	content: "";
	left: 0;
	right: 0;
	background: #019245;
	height: 3px;
	transform: scale(0,1);
	-ms-transform: scale(0,1);
	-webkit-transform: scale(0,1);
	-o-transform: scale(0,1);
	transition: all 0.7s;
	-ms-transition: all 0.7s;
	-webkit-transition: all 0.7s;
}
nav.main-nav > ul > li > a:hover:after{
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
}
nav.main-nav > ul > li a:hover,
nav.main-nav > ul > li.current-menu-item > a{
	color: #019245;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}

.hdr-add-to-card{
	
}
.hdr-add-to-card-icon{
	position: relative;
	display: inline-block;
	padding-right: 18px;
}
.hdr-add-to-card-icon span{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #1C75BC;
	border-radius: 50% 50%;
	top: 2px;
	right: 0;
	color: #fff;
	font-size: 12px;
	font-family: 'LeagueSpartan-Medium';
}