.page-banner-section{
	padding-top:59px;
	padding-bottom:122px;
	position:relative;
	min-height:975px;
}
.page-banner-section .container{
	z-index:2;
}
.banner-bg{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:flex;
	z-index:0;
}
.bnr-bg-lft{
	max-width: 34.7%;
    width: 100%;
    height: 100%;
    background-position: left center!important;
}
.bnr-bg-rgt{
	max-width:65.3%;
	width:100%;
	height:100%;
}
.page-des{
	max-width:720px;
	width:100%;
	background:#fff;
	padding-top:63px;
	padding-left:39px;
	padding-right:39px;
	padding-bottom:56px;
	position: relative;
	border:1px solid #7C7C7C;
}
.page-des h1{
	font-family: 'LeagueSpartan-Medium';
	color:#3A3A3A;
	text-transform:uppercase;
	margin-bottom:24px;
}
.page-des h3{
	font-family: 'LeagueSpartan-Medium';
	color:#175884;
	text-transform:uppercase;
	line-height:1.5;
	margin-bottom:28px;
}
.page-des > strong{
	display:inline-block;
	line-height:1;
	font-size:24px;
	font-family: 'Hind', sans-serif;
	font-weight:500;
	padding-bottom:32px;
}
.page-des span{
	position: absolute;
	right:-22px;
	top:18.7%;
 
}