.slick-slider ul.slick-dots{
	position: static;
	height: 22px;
	line-height: 0;
	padding: 0 10px!important;
}
.slick-slider .slick-dots li{
	width: 22px!important;
	height: 22px!important;
	position: static;
	background: #c18f54!important;
	border-radius: 100% 100%!important;
	margin: 0 4px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #ffffff!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 22px;
	height: 22px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}