.slick-slider ul.slick-dots{
	position: static;
	height: 22px;
	line-height: 0;
	padding: 0 10px!important;
}
.slick-slider .slick-dots li{
	width: 22px!important;
	height: 22px!important;
	position: static;
	background: #c18f54!important;
	border-radius: 100% 100%!important;
	margin: 0 4px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #ffffff!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 22px;
	height: 22px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/* ===================== */
/*== pagination start ==*/
/* =================== */
.fl-pagi-cntlr{
	display: flex;
	justify-content: center;
}
.fl-pagi-cntlr ul{
	display: flex;
	background:#665440;
	margin: -2px -2px;
}
.fl-pagi-cntlr ul li{
	padding: 2px 2px;
	display: flex;
}
.fl-pagi-cntlr ul li span{
	font-weight: 500;
	font-size: 16px;
	padding: 2px;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.fl-pagi-cntlr ul li a,
.page-numbers.dots{
	font-weight: 500;
	font-size: 16px;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #C18F53;
	padding: 2px;
}
.fl-pagi-cntlr ul li a:hover,
.fl-pagi-cntlr ul li span:hover{
	color: #665440;
	background: #fff;
}
.page-numbers.current{
	background: #fff;
}
.prev, .next{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px!important;
	border: 2px solid transparent;
}
.prev:after{
	position: absolute;
	content: "";
	background-image: url('../images/pagi-prev.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 7px;
}
.next:after{
	position: absolute;
	content: "";
	background-image: url('../images/pagi-next.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 7px;
}
.prev:hover,
.next:hover{
	background: #665440!important;
	border: 2px solid #fff;
}
/*== pagination end ==*/