.winners-sec-bg{
	padding-top: 60px;
	padding-bottom: 120px;
}
.winr-grid-cntrl{
	padding-bottom: 60px;
}
.winr-grid-cntrl ul li{
	width: 25%!important;
}
.winr-fea-img-cntlr{
	height: 250px!important;
}
.winr-grd-item-des{
	padding: 27px 20px 25px 15px!important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url('../images/winr-itm-des-bg.png')!important;
	background-repeat: no-repeat!important;
	background-position: bottom center!important;
}
.wgid-title{
	margin-bottom: 13px!important;
}	
.wgid-title a{
	color: #35AA5F;
	line-height: 1.3;
}
.winr-grd-date span{
	font-size: 16px;
}

/* modal */
.wgid-title-popup{
	font-size: 22px;
	font-family: 'LeagueSpartan-Semibold';
	color: #35AA5F;
}
.modal-header{
	display: flex;
	align-items: center;
	border: initial;
	padding: 29px 15px;
}
.modal-header img {
    padding-top: 14px;
}
.modal-body{
	padding: 0;

}
.modal-body i{
	display: inline-block;
	vertical-align: baseline;	
}
.body-cont{
	padding: 45px 5px 55px 20px;
	background-image: url('../images/pop-bg.png');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
    background-position: right bottom;
}
.body-cont p{
	font-size: 16px;
	margin-bottom: 0;
	line-height: 30px;
}
.body-cont p span{
	font-weight: 500;
}
.body-cont p a{
	color: #35AA5F;
	padding-left: 5px;
}
.modal-footer{
	border: 1px solid #7c7c7c;
	background: #F7F4F2;
	padding: 16px;
}
.pop-btn.btn{
	border-radius: initial;
	width: 100px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
/* ================= */
/* == responsive == */
/* =============== */

@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.winr-grid-cntrl ul li{
		padding: 0 9px 20px!important;
	}
	.wgid-title a{
		font-size: 18px;
	}
}


@media(max-width: 1399px){
	.winr-grid-cntrl ul li{
		width: 33.3333%!important;
	}

}

@media(max-width: 1299px){
	
}

@media(max-width: 1199px){


}

@media(max-width: 991px){
	.winr-grid-cntrl ul li{
		width: 50%!important;
	}
	.winr-fea-img-cntlr {
    	height: 350px!important;
	}
	.wgid-title-popup{
		font-size: 20px;
	}
	.modal-title{
		line-height: 1.4;
	}
}

@media(max-width: 840px){
	.winr-fea-img-cntlr {
    	height: 300px!important;
	}
}

@media(max-width: 767px){
	.winr-fea-img-cntlr {
    	height: 250px!important;
	}
	.winr-grd-date span{
		font-size: 15px;
	}
	.body-cont{
		text-align: center;
		padding: 32px 5px 55px 20px;
	}
	.body-cont p{
		font-size: 14px;
		line-height: 1.8;
	}
	.wgid-title-popup{
		font-size: 18px;
	}
	.modal-title{
		line-height: 1.3;
	}
}

@media(max-width: 639px){
	.winr-fea-img-cntlr {
    	height: 220px!important;
	}
	.body-cont p{
		font-size: 14px;
		line-height: 1.7;
	}
}

@media(max-width: 575px){
	.winners-sec-bg{
		padding: 50px 0;
	}
	.winr-tabbar{
		margin-bottom: 50px;
	}
	.winr-grid-cntrl{
		padding-bottom: 30px;
	}
	.winr-grid-cntrl ul li{
		width: 100%!important;
	}
	.winr-fea-img-cntlr {
    	height: 350px!important;
	}
	.winr-grd-date span{
		font-size: 14px;
	}
	.modal.show .modal-dialog{
		padding: 10px 10px;
	}
	.wgid-title-popup{
		font-size: 17px;
	}
	.modal-title{
		line-height: 1.2;
	}
}

@media(max-width: 479px){
	.winr-fea-img-cntlr {
    	height: 288px!important;
	}
	.body-cont p{
		font-size: 12px;
		line-height: 2;
	}
	.wgid-title-popup{
		font-size: 16px;
	}
	.modal-title{
		line-height: 1.1;
	}
}

@media(max-width: 359px){
	.winr-fea-img-cntlr {
    	height: 217px!important;
	}
}