.custom-summary {
    background: #fff;
    padding: 10px;
}
.lottery-ajax-change {
    margin-top: 0 !important;
}
.wcl-progress-meter {
    margin-top: 0 !important;
    padding-bottom: 30px;
}
.total-tickets, .total-remaining {
    position: absolute;
    display: inline-block;
}
.total-tickets{
	left: 0;
	bottom: 0;
}
.total-remaining {
	right: 0;
	bottom: 0;
}
.wcl-progress-meter .zero{
    display: inline-block !important; 
    position: initial !important;
    top: 0 !important; 
}
.wcl-progress-meter .max {
    display: inline-block!important;
    position: initial!important;
    top: 0!important;
    right: 0!important;
}
.wc-cart-crtl {
    float: left;
    width: 70%;
}
.wc-carttotal-crtl {
    float: left;
    width: 30%;
}
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    width: inherit !important;
}
form.woocommerce-cart-form {
    background: #fff;
}
table.shop_table.shop_table_responsive {
    background: #fff;
}